@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin: 0;
}
header{
    background-color: navy;
    height: 150px;
}
.phone-no{
    padding-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.phone-no label{
    color: white;
}
.label1{
    margin-right: 15px;
    border-right: 1px solid white;
}
.row-1{
    position: relative;
    margin-left: 15px;
   
}
.social-icon{
    float: right;
    margin-top: -30px;
    margin-right: 18px;
}
.social-icon i{
    margin: 5px;
}
input{
    margin-right: 5px;
}

.row-1 i{
    position: absolute;
    left: 132px;
    top: 4px;
}
.menu img{
    width: 100px;
}
.menu{
    float: left;
}
.p1{
    font-size: 20px;
    color: navy;
    margin: 8px;
    font-weight: bold;
    
}
.p2{
    margin: 0px;
    font-family: Pacifico;
    color:hsl(39, 100%, 50%) ;
}
.mainmenu{
    height: 150px;
    margin-top: 10px;
}
.menu1{
    width: 150px;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li a, .dropbtn{
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px;
    
}
li a:hover, .dropdown:hover .dropbtn{
    background-color: rgb(154, 207, 228);
}
li .dropdown {
    display: inline-block;
}
.content{
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 200px;
    height: auto;
    box-shadow: 5px 5px 5px 5px gray;
    z-index: 1;
}
.content a {
    color: black;
    padding: 8px 8px;
    text-decoration: none;
    display: block;
}
.content a:hover{
    background-color: rgb(154, 207, 228);
}
.dropdown:hover .content{
    display: block;
}


.section2 i{
    color: black;
}
li{
    float: left;
}


.section1{
    height: 350px;
}
.section2{
    background-color: navy;
    height: 200px;
    border-bottom: 1px solid orange;
}
.dropbtn1{
    color: white;
}
.section3 img{
    width: 100%;
    height: 400px;
}
.section4{
    background-color: red;
    height: 45px;
    color: white;
    padding-top: 20px;
}
.divlink i{
    font-size: 35px;
    border: 1px sold black;
    margin-left: 15px;
    margin-top: 25px;
    color: white;
}
.divlink{
    float: left;
    margin-top: 10px;
}
.divlink1{
    width: 80px;
    background-color: navy;
    margin: 10px;
    height: 80px;
    border-left: 6px solid yellow;
    
}
.subdiv{
    border: 5px solid whitesmoke;
    height: 130px;
    margin: 20px;
}
.divlink2{
    margin-left: 10px;
}
.p3{
    font-weight: bold;
}
.p4{
    font-family: Poppins;
    font-size: 12px;
}
.card1, .card2{
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.img2{
    width: 100px;
}
.section8-div{
    text-align: center;
    margin-top: 80px;
}
.course1-div{
    background-color: whitesmoke;
    padding: 10px;
    font-weight: bold;
}

.engcourses{
    margin-left: 25px;
}
.course1{
    border: 7px solid whitesmoke;
    margin: 30px;
    height: 300px;
}


.section6-div1{
    background-color: whitesmoke;
    height: 300px;
    width: 300px;
    margin-bottom: 25px;
}
.div5{
    float: left;
    
    
}
.div8{
    width: 200px;
}
.div6{
    width: 150px;
    height: 120px;
}
.div7{
    padding-left: 25px;
    
}
button{
    background-color: rgb(29, 29, 53);
    color: white;
}
.section9{
    background-color: rgba(245, 245, 245, 0.822);
    height: 800px;
}
.section9-div{
    text-align: center;
    border: 7px solid white;
    background-color: white;
    margin: 30px;
    
    
}

    
.span3{
    color: rgb(29, 29, 53);
    border-bottom: 2px solid navy;
    padding-bottom: 8px;
}
.span4{
    color: rgb(238, 160, 14);
}
.paragraph{
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 20px;
}
.section10{
    background-image: url('section10.jpeg');
    height: 600px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    background-size: cover;
    

}
.section10 p{
    margin: 0;
    padding-left: 50px;
    padding-top: 60px;
}
.section11{
    background-color: whitesmoke;
    height: 400px;
   
    
}

.paragraph1 i{
    color: rgb(238, 160, 14);
}
.paragraph1{
    margin-left: 20px;
}
.section12-div1 h4{
    margin-bottom: 30px;
    border-bottom: 1px solid black ;
    border-bottom-style: dashed;
    padding-bottom: 20px;
    padding-left: 20px;
    font-family: Poppins;
    font-size: 20px;

   
}
.section12-div1 h1{
    padding-top: 30px;
    font-weight: bold;
    color: navy;
    padding-bottom: 30px;
    padding-left: 20px;
   
}
.section13{
    background-color: whitesmoke;
    height:250px;
}
.section13 i{
    margin: 7px;
    border: 1px solid black;
    padding: 12px;

}
.section13 p{
    color: blue;
    font-size: 25px;
}
.lastdiv{
    margin-top: 40px;
    text-align: center;
}
.lastdiv span{
    margin: 10px;
}
.lastspan{
    border-right: 1px solid black;
    padding-right: 15px;
}
.section6-div{

    margin-left: 100px;
}
@media only screen and (min-width: 500px){
    .open{
        display: none;
    }


    .close{
        display: none;
    }
    .opened{
        display: none;
    }
    .closed{
        display: none;
    }


}
@media only screen and (max-width: 500px){
    header{
        overflow: hidden;
    }


    .section2{
        height: 100px;
    }
    .section1{
        height: 200px;
    }
   .open{
        float: right;
        margin-top: -110px;
        margin-right: 30px;
       background-color: black;
       
    }
    .close{
        position: absolute;
        background-color: black;
        top: 0;
        right: 0;
        margin-left: 200px; 


    }
    .content{
       min-width: 250px;
       box-shadow: 2px 2px 2px 2px gray;
       height: auto;
       
    }
    .content a{
        padding: 8px 8px;
    }
    li{
        float: none;
    }
 
    .firstnav{
        background-color: white;
        color: rgba(211, 211, 211, 0.185);
        position: fixed;
        width: 95%;
        height: 0%;
        overflow-x: hidden;
        z-index: 1;
        transition: 1.5s;
        overflow: hidden;
        /*margin-left: 10px;*/
        margin-top: -40px;
        
    }
    .secondnav{
        background-color: white;
        color: rgba(211, 211, 211, 0.185);
        position: fixed;
        height: 70%;
        width: 0;
        overflow-x: hidden;
        z-index: 1;
        transition: 1.5s;
        
    }
    .opened{
        float: right;
        margin-right: 50px;
        margin-top: 20px;
    }
    .closed{
        position: absolute;
        margin-left: 345px;
        background-color: black;
    }
    li{
        float: none;
    }

    
    li a{
        border-bottom: 1px solid black;
        border-bottom-style: dotted;
    }
    .list1{
        margin-top: 20px;
    }

    .list2{
        padding-top: 20px;
    }
    .section2{
        background-color: navy;
        height: 60px;
    }

    .dropbtn1{
        color: black;
    }
    .section4{
        background-color: red;
        height: 45px;
        color: white;
        padding-top: 20px;
        
    }
 
    .card1, .card2{
        margin-bottom: 30px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .section6-div{
        margin-left: 35px;
    }
    .section6-div1{
        background-color: whitesmoke;
        height: 300px;
        width: 350px;
        margin-bottom: 25px;
    }
    .div6{
        width: 200px;
    }
    /*.div5{
        float: left;
        
    }
    .div6{
        width: 250px;
        height: 100px;
    }
    button{
        background-color: rgb(29, 29, 53);
        color: white;
    }
    .img2{
        width: 100px;
    }
    .div5{
        float: left;
        
    }*/

}
@media only screen and (min-width: 700px){
   /*.section1{
        overflow: hidden;
    }*/
    .section6-div{
        margin-left: 0;
    }
    .content{
       min-width: 200px;
    }
    .contents{
        min-width: 90px;
    }

    .subcontent{
        width: 300px;
    }.content2 a{
        padding: 5px 5px;
    }
    .content2{
        width: 400px;
    }
    .list{
        margin: 10px;
    }
    .content3{
        width: 350px;
    }
    .content3 a{
        padding: 5px 5px;
    }
    .section2{
        height: 200px;}
    .content4{
        width: 70px;

    }
    /*.section3 img{
        width: 765px;
        height: 500px;
    }*/

    .maindiv{
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
    .subdiv{
        margin: 20px;
        padding-top: 5px;
    }
    .divlink3{
        width: 60px;
    }
    
    .img1{
        width: 150px;
        height: 150px;
    }
    .section6-div1{
        margin: 10px;
        height: 330px;
        
        
    }
   .section6-div{
       display: flex;
        width: 100%;  
    }
    .div6{
        width: 120px;
        height: 150px;
    }
    .divv{
        width: 250px;
    }
    .section8-div1{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .section9-div1{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .section10{
        font-size: 50px;
    }
    .section12-div2{
        margin-left: 300px;
    }
    .section13 i{
        margin-left: 20px;
    }

    .social-icon i{
        margin-left: 15px;
        margin-right: 15px;
    }
    .div8{
        width: 150px;
    }
    .div9{
        width: 105px;
    }

    
  

 


}
@media only screen and (min-width: 900px){
    .section1{
        width: 850px;
    }
   /* .section3 img{
        width: 1000px;
        height: 500px;
    }*/
 
    
}

@media only screen and (min-width: 1000px){
    /*.section3 img{
        min-width: 1070px;
    }*/
 
}
